<div id="admin-panel-left">
  <h2>Choose a product to edit</h2>
  <br> select product:
  <br>
  <select name="" id="" ng-model="selected_product" ng-options="product.Title for product in products">
    <option value="">select a product</option>
  </select>
  <br>

  <form>
    <!--edit name:-->
    <input type="text" ng-model="selected_product.Title" placeholder="edit name...">
    <br>
    <!--edit quantity:-->
    <input type="text" ng-model="selected_product.Quantity" placeholder="edit quantity...">
    <br>
    <!--edit description:-->
    <textarea name="" id="" cols="20" rows="5" ng-model="selected_product.Description" placeholder="edit description..."></textarea>
    <br>
    <!--edit price:-->
    <input type="text" ng-model="selected_product.Price" placeholder="edit price...">
    <button type="submit" ng-click="editProduct(selected_product)">Change</button>
  </form>
  <h2>Add a new product</h2>
  <form>
    <!--product name:-->
    <input type="text" placeholder="enter name" ng-model="newProduct.Title">
    <br>
    <!--quantity:-->
    <input type="text" placeholder="how many?" ng-model="newProduct.Quantity">
    <br>
    <!--description:-->
    <textarea type="text" placeholder="enter a description" ng-model="newProduct.Description"></textarea>
    <br>
    <!--price:-->
    <input type="text" placeholder="how many?" ng-model="newProduct.Price">
    <button type="submit" ng-click="addProduct(newProduct)">Add</button>
  </form>
</div>

<div id="admin-panel-right">
  <h2>Existing Products</h2>
  <div ng-repeat="product in products">
    product ID: {{product._id}}
    <br> product Name: {{product.Title}}
    <br> description: {{product.Description}}
    <br> price: {{product.Price}}
    <br> quantity: {{product.Quantity}}
    <button ng-click="deleteProduct(product)">Delete</button>
    <!--below-->
    <hr>
  </div>
</div>


<!--<div id='admin-panel-left'>
  <h1>ADMIN TMPL</h1>



  <h2>Add Product</h2>
  <form ng-submit="">
    name by ID:
    <input type="text" ng-model="addedProduct">
  </form>

  <h2>Delete Product</h2>
  <form ng-submit="">
    delete by ID:
    <input type="text" ng-model="deletedProduct">
  </form>

  <h2>Edit Product</h2>
  <form ng-submit="editProduct(editedProduct)">
    edit by ID:
    <input type="text" ng-model="editedProduct">
    <input type="text">
  </form>
</div>-->


<!--<br> edit name:
<form ng-submit="editProduct(product)">
  <input type="text" ng-model="product.newName" placeholder="enter a new name">
</form>-->