<!--<div id='admin-panel-left'>
  <h1>ADMIN TMPL</h1>



  <h2>Add Product</h2>
  <form ng-submit="">
    name by ID:
    <input type="text" ng-model="addedProduct">
  </form>

  <h2>Delete Product</h2>
  <form ng-submit="">
    delete by ID:
    <input type="text" ng-model="deletedProduct">
  </form>

  <h2>Edit Product</h2>
  <form ng-submit="editProduct(editedProduct)">
    edit by ID:
    <input type="text" ng-model="editedProduct">
    <input type="text">
  </form>
</div>-->


<h2>Choose a product to edit</h2>
<br> select product:
<select name="" id="" ng-model="selected_product" ng-options="product.name for product in products">
  <option value="">select a product</option>
</select>

{{selected_product}}
<br>

<form ng-submit="editProduct(selected_product)">
  edit name:
  <input type="text" ng-model="selected_product.name">
</form>

<h2>Add a new product</h2>
<form ng-submit="addProduct(newProduct)">
  <input type="text" placeholder="enter name" ng-model="newProduct.name">
</form>

<h2>Existing Products</h2>
<div id="admin-panel-right" ng-repeat="product in products">
  product ID: {{product._id}}
  <br> product Name: {{product.name}}
  <!--<br> edit name:
<form ng-submit="editProduct(product)">
  <input type="text" ng-model="product.newName" placeholder="enter a new name">
</form>-->
  <hr>
</div>