html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans';
  background-color: cornflowerblue;
}


/*#admin-panel-left {
  width: 50%;
  float: left;
}

#admin-panel-right {
  width: 50%;
  float: right;
  border-right: 1px solid white;
}*/

.well {
  background-color: #cecece;
  color: white;
}

.btn-danger {
  margin-top: 20px;
}